<%= form_with(model: movie, local: true) do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :overview %>
    <%= form.text_field :overview %>
  </div>

  <div class="field">
    <%= form.label :poster %>
    <%= form.text_field :poster %>
  </div>

  <div class="field">
    <%= form.label :relese %>
    <%= form.date_select :relese %>
  </div>

  <div class="field">
    <%= form.label :revenue %>
    <%= form.number_field :revenue %>
  </div>

  <div class="field">
    <%= form.label :runtime %>
    <%= form.number_field :runtime %>
  </div>

  <div class="field">
    <%= form.label :budget %>
    <%= form.number_field :budget %>
  </div>

  <div class="field">
    <%= form.label :language %>
    <%= form.text_field :language %>
  </div>

  <div class="field">
    <%= form.label :vote %>
    <%= form.number_field :vote %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
