<p id="notice"><%= notice %></p>

<h1>Movies</h1>


<div class="container">
  
    <% @movies.each_slice(3) do |movie3| %>
  <div class="row">
          <% movie3.each do |movie|%>

    <div class="col-sm ">
        <div  class="w-100 p-3">
        <img src="https://www3.nd.edu/~cmc/teaching/cse30332/images/<%= movie.poster %>">
       <br><h3> <%= movie.title %></h3>
        <h5><%= movie.relese %> - <%= movie.vote %> vote </h5>
        <p><%= movie.overview.truncate_words(30) %><p>
        
        <%= link_to 'More', movie %>
        </div>   
    </div>
          <% end %>

  </div>    
    <% end %>
  
</div>

<div>
   <ul class="pager">
      <div class="previous <%= @page == 0 ? 'disabled' : '' %>">
          <%= link_to_if @page > 0, "<< Previous", movies_path(page: @page - 1) %> </div>
        <div><p>   </p></div>
      <div class="next <%= @page == @limtPageSize ? 'disabled' : '' %>">
          <%= link_to "Next >>", movies_path(page: @page + 1) %> </div>
      </li>
   </ul>
</div>





<br>

<%= link_to 'New Movie', new_movie_path %>
