<p id="notice"><%= notice %></p>

<h2> Order Number: <%= @order.id %></h2>
<p><%= @order.created_at %></p>
	<br>
<p>
  <strong>User id:</strong>
  <%= @user.id %>
  <br>
  <strong>User email:</strong>
  <%= @user.email %>

</p>

<p>
  <strong>Movie id:</strong>
  <%= @movie.id %>
  <br>
  <strong>Movie title:</strong>
  <%= @movie.title %>
      <div class="col-sm ">
        <div  class="w-100 p-3">
        <img src="https://www3.nd.edu/~cmc/teaching/cse30332/images/<%= @movie.poster %>">
       <br><h3> <%= @movie.title %></h3>
        <p><%= @movie.relese %></p> 
        <%= link_to 'More', @movie %>
        </div>   
    </div>


</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>


<h2> Who select the movie: </h2>


    <% @movieReOrderShow.each_slice(4) do |movie3| %>
  <div class="row">
          <% movie3.each do |movie|%>

    <div class="col-sm ">
        <div  class="w-100 p-3">
        <img src="https://www3.nd.edu/~cmc/teaching/cse30332/images/<%= movie.poster %>">
       <br><h3> <%= movie.title %></h3>
        <p><%= movie.relese %></p> 
        <h5><%= movie.vote %> vote </h5>        
        <%= link_to 'More', movie %>
        </div>   
    </div>
          <% end %>

  </div>    
    <% end %>